<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
    body {background-color: powderblue;}
  </style>
  </head>
  <body>
    <div class="container">
      <h1>Table Database</h1>
      <table class="styled-table">
        <tr>
          <th>Name</th>
          <th>Color</th>
        </tr>
        <tr th:each="n : ${records}">
          <td>
            <a
              th:href="@{/get/{id}(id=${n.name})}"
              th:text="${n.name}"
              th:object="${rectangle}"
              th:field="*{name}"
            ></a>
          </td>
          <td th:text="${n.color}"></td>
          <td>
            <form th:action="@{/d/{id}(id=${n.name})}">
              <input type="submit" value="Remove" />
            </form>
          </td>
        </tr>
      </table>
      <form action="dbb.html">
        <input type="submit" value = "Add rectangle">
      </form>
    </div>
  </body>
</html>
